* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;

  background-image: url("Default_Its_a_white_background_just_with_black_music_notes_it_0.jpg");
  /* Pfad zu Ihrem Bild */
  background-position: center center;
  /* Zentriert das Bild */
  background-repeat: no-repeat;
  /* Verhindert das Wiederholen des Bildes */
  background-attachment: fixed;
  /* Bild bleibt beim Scrollen an der Stelle */
  background-size: cover;
  /* Stellt sicher, dass das Bild den gesamten Bildschirm bedeckt */
}

#site-header,
#site-footer {
  text-align: center;
  padding: 20px;
}

/*=======================================Hier ist die Navigationsleiste==============================*/

.navigation {
  /*position: -webkit-sticky;*/
  /* Für Safari */

  display: flex;
  /* Aktiviert Flexbox */
  justify-content: flex-start;
  /* Ordnet die Items linksbündig an */
  border: none;
  /* Korrigiert die Farbe (vollständig transparent war vorher #00000000) */
  padding: 5px;

  /* Etwas Abstand innen für die Navigationsleiste */
  background-color: rgba(255, 255, 255, 0.6);
  /* Weiß mit 50% Transparenz */
  border-radius: 5px;
}

/*============JS Klasse die funktional hinzugefügt wir==============*/

.sticky-nav {
  position: fixed;

  /* Stellt s63icher, dass beide Elemente dieselbe maximale Breite haben */
  width: 100%;
  margin: 0 auto;
  /* Zentriert beide Elemente */
  padding: 0 20px;
  /* Fügt etwas Platz an den Seiten hinzu */
  /* oder die Breite Ihres Containers */
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  left: 0;
  right: 0;
  top: 0;
  background-color: whitesmoke !important;
  /* Neue Hintergrundfarbe, wenn sticky */
  transition: transform 0.8s ease-out, background-color 0.5s ease-out;
  /* Fügt einen sanften Übergang für Transformation und Hintergrundfarbe hinzu */
  z-index: 999;
  border-bottom-left-radius: 10px;
  /* Fügt einen Radius zur unteren linken Ecke hinzu */
  border-bottom-right-radius: 10px;

}

.navigation ul {
  display: flex;
  list-style-type: none;
  /* Entfernt Bullet-Points */
  margin: 0;
  /* Anpassung für Flexbox */
  padding: 0;
  /* Entfernt den Innenabstand */
  width: 100%;

  /* Nimmt die volle Breite des Containers ein */
}

.navigation li {
  float: left;
  /* Ordnet die Listenelemente linksbündig an */
  padding-left: 20px;
}

/*===Hier werden die Nav-Elemenste gestaltet===*/

.navigation li a {
  background-color: #4E74BF;
  /* Grüne Hintergrundfarbe */
  color: white;
  /* Weiße Textfarbe */
  padding: 10px 20px;
  /* Abstand oben/unten, rechts/links */
  text-align: center;
  /* Text zentrieren */
  text-decoration: none;
  /* Entfernt die Unterstreichung */
  display: inline-block;
  /* Erlaubt die Anwendung von Padding und Zentrierung */
  font-size: 16px;
  /* Schriftgröße */
  margin: 4px 5px;
  /* Abstand zu anderen Elementen */
  cursor: pointer;
  /* Verändert den Mauszeiger zu einem Klickzeiger */
  border: none;
  /* Kein Rahmen */
  border-radius: 5px;
  /* Abgerundete Ecken */
  transition: transform 0.3s ease;
  /* Animiert die Transformation */
}

.active {
  color: black !important;
}

.navigation li a:hover {
  background-color: #300bd8;
  /* Dunklerer Grünton beim Darüberfahren */
  transform: scale(1.1);
  /* Vergrößert den Button um 10% */
  color: black;
}

/*====Mobiel DropDownMenü versteckt bis reponsiv umbruch========*/


.hamburger-container {
  cursor: pointer;
  padding: 5px;
  /* Bietet zusätzlichen Raum um das Symbol */
  height: 58px;
  /* Korrektur: War '58x', sollte '58px' sein */
  width: 58px;
  /* Mindestbreite für gute Anklickbarkeit */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Stellt sicher, dass es über anderen Elementen liegt */
  transition: background-color 0.3s;
  /* Optional: Hintergrund-Farbübergang */
}

/* Hamburger Icon */
.hamburger {
  cursor: pointer;
  height: 2px;
  /* Höhe der zentralen Linie */
  width: 40px;
  /* Breite des Icons */
  background: black;
  /* Farbe des Icons */
  position: relative;
  display: block;
  /* Stellt sicher, dass es als Blockelement behandelt wird, um die Positionierung der Pseudo-Elemente zu erleichtern */
  margin: 0;
  /* Fügt vertikalen Abstand hinzu, um die zentrale Linie von den anderen zu trennen */
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  left: 0;
  transition: all 0.3s ease;
}

.hamburger.active::before,
.hamburger.active::after {
  top: 0;
  /* Zentriert beide Linien für die Überlagerung */
  transform-origin: 50%;
  /* Stellt sicher, dass die Rotation um die Mitte der Linie erfolgt */
}

.hamburger::before {
  top: -9px;
  /* Passt den Abstand nach oben an */
}

.hamburger::after {
  top: 9px;
  /* Passt den Abstand nach unten an, von der Mitte des .hamburger Elements */
}

/* CSS für die Transformation in ein "X" */
.hamburger.active {
  background: transparent;
  /* macht die mittlere Linie unsichtbar */
}

.hamburger.active::before {
  transform: rotate(45deg);

}

.hamburger.active::after {
  transform: rotate(-45deg);

}

/* Versteckt das Menü standardmäßig */
.nav-menu {
  display: none;
}

.nav-menu.show {
  display: flex;
}

/*=======================================Hier ist der Navigationsleistenberch zu ende==============================*/

/*=======================================Hier ist der Inhalt der ersten Section==============================*/

#main-content {
  padding: 20px;
}

#about {
  display: flex;
  /* Ermöglicht eine horizontale Anordnung der Kinder */
  flex-direction: row;
  /* Horizontale Anordnung der Kinder */
  padding: 50px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

#Überschrift {
  width: 100%;
  padding-bottom: 40px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  /* Zentriert die Überschrift */
}

#WerSindWirText {
  display: flex;
  flex-direction: column;
  /* Stellt sicher, dass der Text vertikal angeordnet ist */
  align-items: flex-end;
  /* Text linksbündig ausgerichtet */
  max-width: 40%;
}

#BilderBereich {
  display: flex;
  flex-direction: column;
  /* Bilder vertikal untereinander */
  justify-content: flex-start;
  align-items: center;
  /* Bilder zentriert in ihrem Container */
  padding-right: 0px;
  /* Etwas Abstand zum Text */
  margin-right: 80px;

}

#BilderBereich img {
  width: 500px;
  /* Setzt eine feste Breite für die Bilder */
  margin-bottom: 200px;
  /* Fügt Abstand zwischen den Bildern hinzu */
}

#Überschrift,
#Inhalt,
#TextBereich p {
  /* Stil für Überschrift und Paragraphen */
  text-align: left;
  padding-bottom: 40px;
  /* Etwas Abstand zwischen den Absätzen */
  font-size: 25px;
  /* Einheitliche Schriftgröße */
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
}

/*=============Hier wird die Linkliste neben dem Text gestaltet===============*/

#Linkbereich {
  display: flex;
  flex-direction: column;
  /* Vertikale Anordnung der Links */
  justify-content: flex-start;
  /* Startet am Anfang des Containers */
  align-items: flex-start;
  /* Links linksbündig ausrichten */
  padding-left: 120px;
  /* Optional: Fügt etwas Abstand zum Text hinzu */
  /* Fügen Sie hier weitere Stile hinzu, z.B. für Abstände zwischen den Links */
  padding-right: 50px;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgba(245, 245, 245, 1));
  /* Subtiler Farbverlauf von transparent zu leichtem Grau */
  border-radius: 8px;
}

#Linkbereich a {
  text-decoration: none;
  /* Entfernt Unterstreichungen von Links */
  padding: 10px 0;
  /* Vertikaler Abstand zwischen den Links */
  color: #4E74BF;
  /* Dunkle Schriftfarbe für bessere Lesbarkeit */
  position: relative;
  /* Ermöglicht relative Positionierung der Pfeile */
}

#Linkbereich a::before {
  content: "\25B6";
  /* Unicode Pfeil */
  display: inline-block;
  margin-right: 10px;
  /* Abstand zwischen Pfeil und Linktext */
  color: #4E74BF;
  /* Pfeilfarbe */
  transition: transform 0.3s ease;
  /* Animation für Hover-Effekt */
}

.faceCon {
  color: #300bd8;
}

#Linkbereich a:hover::before {
  transform: translateX(5px);
  /* Verschiebt den Pfeil nach rechts beim Hover */
}

#Linkbereich a:hover {
  color: #023974;
  /* Linkfarbe ändert sich beim Hover */
}

#LinklisteÜberschrift {
  margin-bottom: 30px;
  margin-top: 30px;
}

/*=======================================Hier ist der Inhalt der ersten Section zu ende==============================*/

/*=====================================Hier sind die loges die nebden Der Bannerüberschrift einfgefügt wurden====================*/

.images-wrapper {
  display: flex;
  justify-content: center;
  /* Zentriert die Bilder horizontal */
  width: 100%;
  /* Passt die Breite des Wrappers an */
}

.image-right img,
.image-left img {
  width: 45%;
  /* Die Bilder füllen 50% der Breite ihres Containers aus */
  height: auto;
  margin-top: 20px;

  /* Passt die Höhe automatisch an */
}

/*=======================================Hier ist der Inhalt der ersten Section==============================*/

/* ========================================Hier ist der Banner eingefügt========================================= */

.MediaquerryEin {
  display: none;
}

.MediaquerryAus {
  display: flex;
  flex-direction: row;
  /* Stapelt die Elemente horizontal */
  align-items: center;
  justify-content: space-around;
  /* Zentriert die Elemente horizontal */
  padding: 20px;
  transition: opacity 0.5s, visibility 0.5s;
  /* Sanfter Übergang für Opazität und Sichtbarkeit */
  opacity: 1;
  /* Standardmäßig sichtbar */
  visibility: visible;
}

#titel {
  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 65px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  /* Weiß mit 50% Transparenz */
  color: #D90404;
  /* Textfarbe */
  padding: 20px;
  /* Fügt einen weichen Schatten hinzu */
}

/* ========================================Hier ist der Banner eingefügt========================================= */

/*=======================================Hier wird der Text für das Impressum bearbeitet============================*/

#Impressumstextbox {
  display: flex;
  flex-direction: column;
}

#ImpressumInhalt {
  text-align: left;
  padding-bottom: 20px;
  margin-right: 1000px;
  /* Etwas Abstand zwischen den Absätzen */
  font-size: 20px;
  /* Einheitliche Schriftgröße */
  line-height: 1.5;
  color: black;
}

#ImpressumÜberschrift {
  font-size: 40px;
  margin-bottom: 50px;
}

/*============================================ Hier ist die Fusszeile================================================ */

footer {
  background-color: #f0f0f0;
  /* Beispiel für einen Fußzeilen-Hintergrund */
  padding: 10px;
}

/*============================================Hier wird die Mobile Responsivness hergestellt========================*/

/* Media Query für Smartphones */

@media (max-width: 768px) {


  .nav-menu {
    display: none !important;
    flex-direction: column;
  }

  .nav-menu.show {
    display: flex !important;
    max-width: 80%;
    /* Passt die maximale Breite des Containers an */
    margin: 0 auto;
    /* Zentriert den Container horizontal */
  }

  .navigation li {
    width: 40%;
    /* Stellt sicher, dass jedes Listenelement die volle Breite einnimmt */
    box-sizing: border-box;
    /* Berücksichtigt Padding und Border in der Breite */
    text-align: center;
    padding: 5px 0;
  }

  .navigation li a {
    display: block;
    width: 90%;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    /* Stapelt die Links vertikal */
    /* Stellt sicher, dass die Liste die volle Breite einnimmt */
    text-align: left;
  }

  #titel {
    font-size: 6vw;
    /* Passt die Schriftgröße an, um Überlaufen zu vermeiden */
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  /* Anpassungen für Bilder und Überschriften im Impressum */
  #ImpressumInhalt,
  #ImpressumÜberschrift {
    margin-right: 0;
    /* Entfernt den rechten Margin */
  }

  .sticky-nav {
    position: fixed;
    max-width: 768px;
    /* Stellt sicher, dass beide Elemente dieselbe maximale Breite haben */
    width: 100%;
    margin: 0 auto;
    /* Zentriert beide Elemente */
    padding: 0 20px;
    /* Fügt etwas Platz an den Seiten hinzu */
    /* oder die Breite Ihres Containers */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: whitesmoke !important;
    /* Neue Hintergrundfarbe, wenn sticky */
    transition: transform 0.5s ease-out, background-color 0.5s ease-out;
    /* Fügt einen sanften Übergang für Transformation und Hintergrundfarbe hinzu */
    z-index: 999;
  }

  #BilderBereich {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Zentriert die Bilder im Container */
    padding: 0 15px;
    /* Fügt horizontalen Padding hinzu, um nicht direkt am Bildschirmrand zu sein */
    margin-right: 0;
  }

  #BilderBereich img {
    max-width: 100%;
    /* Stellt sicher, dass Bilder nie breiter als ihr Container sind */
    height: auto;
    /* Behält das Seitenverhältnis der Bilder bei */
    margin-bottom: 20px;
    /* Fügt einen Abstand zwischen den Bildern hinzu */
  }

  /* Optional: Entfernen des unteren Margins vom letzten Bild, um unnötigen Abstand am Ende zu vermeiden */
  #BilderBereich img:last-child {
    margin-bottom: 20px;
  }

  #about {
    display: flex;
    text-align: center;
    /* Ermöglicht eine horizontale Anordnung der Kinder */
    flex-direction: column;
    /* Horizontale Anordnung der Kinder */
    padding: 50px;
    background-color: rgba(255, 255, 255, 1);
  }

  #Überschrift {
    width: 100%;
    padding-bottom: 40px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    /* Zentriert die Überschrift */
  }

  #WerSindWirText {
    display: flex;
    flex-direction: column;
    /* Stellt sicher, dass der Text vertikal angeordnet ist */
    align-items: center;
    /* Text linksbündig ausgerichtet */
    max-width: 100%;
    font-size: 16px;
  }

  #Linkbereich {
    display: flex;
    flex-direction: column;
    /* Vertikale Anordnung der Links */
    justify-content: center;
    /* Startet am Anfang des Containers */
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    background: rgba(245, 245, 245, 1);
  }

  #Inhalt {
    text-align: left;
    padding-bottom: 10px;
    /* Etwas Abstand zwischen den Absätzen */
    font-size: 12px;
    /* Einheitliche Schriftgröße */
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.87);
  }

  #LinklisteÜberschrift {
    font-size: 18px;
  }

  .MediaquerryEin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .MediaquerryAus {
    display: none;
  }

  .MediaquerryEin {
    display: block;
    /* Zeigt den zweiten Banner an */
    margin-bottom: 20px;
  }

  .images-wrapper {
    display: flex;
    justify-content: space-around;
    /* Stellt die Bilder nebeneinander mit Abstand um sie herum */
    width: 100%;
    /* Passt die Breite des Wrappers an */
    order: -1;
    /* Stellt sicher, dass der images-wrapper über dem Titel angezeigt wird */
    padding: 10px 0;
  }

  .image-right,
  .image-left {
    padding: 0 10px;
    /* Fügt horizontalen Abstand zwischen den Bildern hinzu */
  }

  .image-right img,
  .image-left img {
    max-width: 100%;
    /* Explizite Größenangabe für die Bilder */
    height: auto;
    /* Behält das Seitenverhältnis bei */
    margin: 5px auto;
    /* Fügt Abstand um die Bilder hinzu und zentriert sie */
  }

  #titel {
    padding: 20px 0;
    /* Fügt vertikalen Padding zum Titel hinzu */
    order: 0;
  }

  .hamburger-container {
    display: flex;

  }


}